/* General Body Style */
body {
    background-color: gray;
    font-family: 'Lato', sans-serif;
}

/* Card Container */
.card-container {
    width: 315px;
    height: 500px;
    border: 10px solid gold;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Backgrounds */
.card-background-green {
    background: linear-gradient(to bottom right,
    #fdf5e6, #f4a460, #d2b48c, #deb887, #8b4513);
}

.card-background-blue {
    /* Second class to set BLUE card backgrounds for WATER types */
    background: linear-gradient(to bottom right, #d9e4ec, #adc1d1, #7d99af, #557792, #7d99af, #adc1d1);
}
.card-background-redorange {
    /* Second class to set RED-ORANGE card backgrounds for FIRE types */
    background: linear-gradient(to bottom right, #ffbfba, #ff978f, #ff756b, #ff594c, #ff756b, #ff978f);
}
.card-background-green {
    /* Second class to set GREEN card backgrounds for PLANT/LEAF/GRASS types */
    background: linear-gradient(to bottom right, #aae5b7, #78cf8b, #4fb665, #319d49, #4fb665, #78cf8b);
}
.card-background-yellow {
    /* Second class to set YELLOW card backgrounds for ELECTRIC/LIGHTNING types */
    background: linear-gradient(to bottom right, #ffffa4, #fff870, #fff200, #fff870, #ffffa4, #fff870);
}

/* Header Row */
.card-header {
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 4px;
}

/* Name and HP Row */
.card-name-and-hp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 8px;
}

/* Name */
.card-name {
    font-size: 16px;
    font-weight: bold;
}

/* HP */
.card-hp {
    font-size: 16px;
    font-weight: bold;
}

/* Image Row */
.card-image {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 3px yellow outset;
    box-shadow: 3px 3px 10px #000;
    box-sizing: border-box;
}

/* Ensure the canvas fills the container without scaling */
.card-image canvas {
    width: 100%;
    height: 100%;
    display: block;
}

/* Image Scaling */
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


/* Flavor Text */
.card-flavor {
    background: linear-gradient(to right, goldenrod, yellow, goldenrod);
    font-style: italic;
    font-size: 10px;
    margin: 8px 0;
    padding: 3px;
}

/* Attack Row */
.card-attack {
    width: 95%;
    display: grid;
    grid-template-columns: 80px 1fr 40px;
    align-items: center;
    padding: 10px;
    border: 1px solid #aaa;
    border-bottom: 1px solid black;
}

/* Attack Name */
.attack-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
}

/* Attack Description */
.attack-description {
    font-size: 14px;
    padding: 0 10px;
    text-align: left;
}

/* Attack Damage */
.attack-damage {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
    white-space: nowrap;
}

/* Stats Row */
.card-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    flex-grow: 1;
}

/* Individual Stat */
.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1; /* Equal width columns */
}

/* Stat Label */
.stat-label {
    font-weight: bold;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Stat Text */
.stat-text {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Description Row */
.card-description {
    width: 97%;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    padding: 5px;
    margin-top: 4px;
    margin-bottom: 5px;
    border: 1px ridge gold;
    border-radius: 4px;
}

/* Footer Row */
.card-footer {
    text-align: center;
    font-size: 8px;
    margin-top: auto;
    padding: 5px;
}
