/* General Body Style */
body {
    background-color: gray;
    font-family: 'Lato', sans-serif;
}

/* Card Container */
.card-container {
    width: 315px;
    height: 500px;
    border: 10px solid gold;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Backgrounds */
.card-background-green {
    background: linear-gradient(to bottom right,
    #fdf5e6, #f4a460, #d2b48c, #deb887, #8b4513);
}

/* Header Row */
.card-header {
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 4px;
}

/* Name and HP Row */
.card-name-and-hp {
    display: flex;
    justify-content: space-between; /* Pushes name left and HP right */
    width: 100%;
    padding-bottom: 8px;
}

/* Name */
.card-name {
    font-size: 16px;
    font-weight: bold;
}

/* HP */
.card-hp {
    font-size: 16px;
    font-weight: bold;
}

/* Image Row */
.card-image {
    width: 300px;
    height: 200px;
    border: 5px yellow outset;
    box-shadow: 3px 3px 10px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Flavor Text */
.card-flavor {
    background: linear-gradient(to right, goldenrod, yellow, goldenrod);
    font-style: italic;
    font-size: 10px;
    margin: 8px 0;
    padding: 3px;
}

/* Attack Row */
.card-attack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 95%;
    border: 1px solid #aaa;
    border-bottom: 1px solid black;
}

.attack-name {
    font-weight: bold;
}

.attack-description {
    flex-grow: 1;
    text-align: left;
    padding: 0 10px;
    font-size: 14px;
}

.attack-damage {
    font-size: 18px;
    font-weight: bold;
}

/* Stats Row */
.card-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    flex-grow: 1;
}

/* Individual Stat */
.stat {
    display: flex;
    flex-direction: column; /* Stack label and text vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center;
    flex: 1; /* Equal width columns */
}

/* Stat Label */
.stat-label {
    font-weight: bold;
    height: 50%; /* Fixed height for the top half */
    display: flex;
    align-items: flex-start; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Stat Text */
.stat-text {
    height: 50%; /* Fixed height for the bottom half */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Description Row */
.card-description {
    width: 95%;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px ridge gold;
    border-radius: 4px;
}

/* Footer Row */
.card-footer {
    text-align: center;
    font-size: 8px;
    margin-top: auto;
}
